:root {
  --logo-font: "Raleway", sans-serif;
  --main-font: "Roboto", sans-serif;
  --brand-color: #2196f3;
  --main-color-font: #212121;
  --text-color: #757575;
  --main-background: #ffffff;
  --hero-background: #2f303a;
  --second-background: #f5f4fa;
  --main-icon-color: #afb1b8;
  --modal-btn-hov-foc: #188ce8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
  border: none;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  color: var(--main-color-font);
  background: var(--main-background);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.modal-btn, .footer-form-btn, .modal-form-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-background);
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 24px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover, .footer-form-btn:hover, .modal-form-button:hover, .modal-btn:focus, .footer-form-btn:focus, .modal-form-button:focus {
  background-color: var(--modal-btn-hov-foc);
}

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  font-weight: 500;
  background-color: var(--main-background);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}

.mobile-menu__link {
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--main-color-font);
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link_current {
  color: var(--brand-color);
}

.mobile-menu-contact-list {
  margin-top: 300px;
  margin-bottom: 64px;
}

.mobile-menu-contact-list__tel {
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.mobile-menu-contact-list__mail {
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.mobile-menu-contact-list__item:first-child {
  margin-bottom: 32px;
}

.mobile-menu-social-list {
  display: flex;
}

.mobile-menu-social-list__link {
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.mobile-menu-social-list__item:not(:last-child) {
  margin-right: 20px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding: 40px;
  background-color: var(--main-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-caption {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-font);
  margin-bottom: 12px;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
  .modal-caption {
    line-height: 1.15;
  }
}
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-bottom: 4px;
}

.modal-form-input-wrapper {
  position: relative;
}
.modal-form-input-wrapper:not(:last-child) {
  margin-bottom: 10px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  padding-left: 42px;
  transition-property: border-color, outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--brand-color);
}

.modal-form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--main-color-font);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--brand-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  padding: 10px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--brand-color);
}

.modal-form-check-desc {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 12px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--text-color);
  cursor: pointer;
}

.modal-form-check-desc::before {
  content: "";
  display: block;
  margin-right: 7px;
  border: 1px solid var(--main-color-font);
  width: 16px;
  height: 15px;
  cursor: pointer;
}
.modal-form-check:checked + .modal-form-check-desc::before {
  border-color: var(--brand-color);
  background-color: var(--brand-color);
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/vector.svg);
  fill: var(--main-background);
}

.user-policy-link {
  color: var(--brand-color);
}

.modal-form-button {
  padding: 10px 55px;
}

@media screen and (min-width: 1200px) {
  .modal-form-check-desc {
    font-size: 14px;
    line-height: 1.71;
  }
}
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition-property: border-color, outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-icon:hover,
.modal-close-btn-icon:focus {
  fill: var(--brand-color);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--main-background);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--brand-color);
}

.social-list__icon {
  fill: var(--main-icon-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: var(--main-background);
}

.social-list__link_footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list__icon_footer {
  fill: var(--main-background);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__list {
  font-style: normal;
  margin-top: 20px;
}

.address__item:not(:first-child) {
  margin-top: 8px;
}

@media screen and (min-width: 1200px) {
  .address__item:not(:first-child) {
    margin-top: 9px;
  }
}
.address__link {
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: var(--brand-color);
}

.address__link_address {
  color: var(--main-background);
}

.address__link_tel_mail {
  color: rgba(255, 255, 255, 0.6);
}

.project-list__overlay-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
}

.project-list__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-background);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-list__item:hover .project-list__overlay {
  transform: translate(0, 0);
}

.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo__accent_header {
  color: #000000;
}

.logo__accent_footer {
  color: var(--main-background);
}

.header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header {
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header-container {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
}
.mobile-menu-open {
  background-color: transparent;
  padding: 0;
  line-height: 0;
}

@media screen and (max-width: 767px) {
  .header-contact-list {
    display: none;
  }
}
.header-contact-list__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact-list__link:hover, .header-contact-list__link:focus {
  color: var(--brand-color);
}

.header-contact-list__icon {
  margin-right: 10px;
  background-size: contain;
  fill: var(--text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact-list__link:hover .header-contact-list__icon, .header-contact-list__link:focus .header-contact-list__icon {
  fill: var(--brand-color);
}

@media screen and (max-width: 1199px) {
  .header-contact-list__item:first-child {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contact-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
  .header-contact-list__item:not(:first-child) {
    margin-left: 30px;
  }
  .header-contact-list__link {
    padding: 32px 0;
  }
}
@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
  }
}
.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  font-weight: 500;
  line-height: 1.14;
  color: var(--main-color-font);
  display: block;
  padding: 26px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover, .menu__link:focus {
  color: var(--brand-color);
}

.menu__link_current {
  color: var(--brand-color);
  position: relative;
}
.menu__link_current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: " ";
  width: 100%;
  height: 4px;
  background-color: var(--brand-color);
  border-radius: 2px;
}

@media screen and (min-width: 1200px) {
  .navigation {
    margin-left: 92px;
  }
  .menu__link {
    padding: 32px 0;
  }
}
.hero {
  padding: 118px 0;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/bg-hero/mobile-bg-img.jpg);
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url(/images/bg-hero/mobile-bg-img@2x.jpg);
  }
}
.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-background);
  margin-bottom: 30px;
}

.hero__container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/bg-hero/tablet-bg-img.jpg);
    background-size: cover;
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(/images/bg-hero/tablet-bg-img@2x.jpg);
  }
}
@media screen and (min-width: 480px) {
  .hero__container {
    width: 390px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/bg-hero/desktop-bg-img.jpg);
    background-size: cover;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(/images/bg-hero/desktop-bg-img@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero__container {
    width: 696px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 1199px) {
  .prof {
    display: none;
  }
}
.prof {
  padding: 94px 0;
}

.caption {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.prof-list {
  display: flex;
  margin-top: 50px;
}

.prof-item {
  position: relative;
  display: block;
}
.prof-item:not(:last-child) {
  margin-right: 30px;
}

.prof-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-background);
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.about {
  padding: 60px 0;
}

.about-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .about-subtitle {
    text-align: center;
  }
}
.about-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.about-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background: var(--second-background);
  border-radius: 4px;
}

.about-item:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .about-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .about-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .about {
    padding-top: 94px;
    padding-bottom: 0;
  }
  .about-list {
    flex-wrap: nowrap;
    gap: 30px;
  }
  .about-item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
.employee {
  background-color: var(--second-background);
  padding: 60px 0;
}

.employee-item {
  margin-top: 30px;
}

.employee-img {
  width: 100%;
}

.employee-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.job-title {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-top: 10px;
  margin-bottom: 16px;
}

.card-content-employee {
  padding-top: 30px;
  padding-bottom: 24px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-background);
}

@media screen and (min-width: 768px) {
  .employee-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .employee-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .employee {
    padding: 94px 0;
  }
  .employee-list {
    flex-wrap: nowrap;
  }
  .employee-item {
    margin-top: 50px;
  }
}
.client {
  padding: 60px 0;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover, .client-link:focus {
  border-color: var(--brand-color);
}

.client-list-icon {
  fill: var(--main-icon-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover .client-list-icon, .client-link:focus .client-list-icon {
  fill: var(--brand-color);
}

.client-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
}

.client-item {
  flex-basis: calc((100% - 30px) / 2);
}

@media screen and (min-width: 768px) {
  .client-item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client {
    padding: 94px 0;
  }
  .client-list {
    margin-top: 50px;
    flex-wrap: nowrap;
  }
}
.footer {
  background-color: var(--hero-background);
  padding: 60px 0;
}

.footer-container {
  display: flex;
}

@media screen and (max-width: 1199px) {
  .footer-contact-list,
.footer-social-list,
.footer-form-list,
.address__list,
.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-form-list {
    margin-top: 60px;
  }
}
@media screen and (max-width: 767px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  .footer-social-list {
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer-container {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.footer__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-background);
  margin-bottom: 20px;
}

.footer-form__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  transition-property: border-color, outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form__input:focus, .footer-form__input:hover {
  outline: none;
  border-color: var(--brand-color);
}

@media screen and (min-width: 480px) {
  .footer-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .footer-form {
    display: flex;
  }
  .footer-form__input {
    width: 358px;
    margin-bottom: 0;
  }
  .footer-form__label {
    margin-right: 12px;
  }
}
.footer-form-btn {
  display: flex;
  padding: 10px 31px;
  align-items: center;
}

.footer-form-btn__icon {
  fill: var(--main-background);
  background-color: transparent;
  padding: 0;
  line-height: 0;
}

.section {
  padding: 40px 0;
}

.filter-list {
  display: flex;
  margin-bottom: 30px;
  flex-wrap: wrap;
  gap: 15px;
}

.filter-list__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: inherit;
  background-color: var(--second-background);
  border-radius: 4px;
  padding: 6px 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-list__btn:hover, .filter-list__btn:focus {
  color: var(--main-background);
  background-color: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-list__btn_current {
  color: var(--main-background);
  background-color: var(--brand-color);
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.project-list__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-list__filter-name {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-top: 4px;
}

.project-list__card {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.project-list__item {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-list__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .section {
    padding: 60px 0;
  }
  .filter-list {
    justify-content: center;
  }
  .project-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .project-list__item {
    width: 354px;
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
  .filter-list {
    margin-bottom: 32px;
  }
  .project-list__item {
    width: 370px;
    flex-basis: calc((100% - 60px) / 3);
  }
}/*# sourceMappingURL=main.css.map */