.employee {
    background-color: var(--second-background);
    padding: 60px 0;
}
.employee-item {
    margin-top: 30px;
}
.employee-img {
    width: 100%;
}
.employee-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.job-title {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin-top: 10px;
    margin-bottom: 16px;
}

// .employee-item:not(:last-child) {
//     margin-right: 30px;
// }
.card-content-employee {
    padding-top: 30px;
    padding-bottom: 24px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--main-background);
}
@media screen and (min-width: 768px) {
    .employee-list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .employee-item {
        flex-basis: calc((100% - 30px) / 2);
    }
}
@media screen and (min-width: 1200px) {
    .employee {
        padding: 94px 0;
    }
    .employee-list {
        flex-wrap: nowrap;
    }
    .employee-item {
        margin-top: 50px;
    }
}
