.footer {
    background-color: var(--hero-background);
    padding: 60px 0;
}
.footer-container {
    display: flex;
}

@media screen and (max-width: 1199px) {
    .footer-contact-list,
    .footer-social-list,
    .footer-form-list,
    .address__list,
    .footer-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-form-list {
        margin-top: 60px;
    }
}
@media screen and (max-width: 767px) {
    .footer-container {
        flex-direction: column;
    }

    .footer-social-list {
        margin-top: 60px;
    }
}

@media screen and (min-width: 768px) {
    .footer-container {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.footer__subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--main-background);
    margin-bottom: 20px;
}

.footer-form__input {
    min-width: 320px;
    height: 50px;
    padding-left: 16px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    transition-property: border-color, outline;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        outline: none;
        border-color: var(--brand-color);
    }
}
@media screen and (min-width: 480px) {
    .footer-form__input {
        width: 450px;
    }
}
@media screen and (min-width: 1200px) {
    .footer-container {
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .footer-form {
        display: flex;
    }

    .footer-form__input {
        width: 358px;
        margin-bottom: 0;
    }
    .footer-form__label {
        margin-right: 12px;
    }
}

.footer-form-btn {
    display: flex;
    @extend .modal-btn;
    padding: 10px 31px;
    align-items: center;
}

.footer-form-btn__icon {
    fill: var(--main-background);
    background-color: transparent;
    padding: 0;
    line-height: 0;
}
