.header {
    border-bottom: 1px solid #ececec;
}
.header-container {
    align-items: center;
    display: flex;
}

.header-contact-list {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
// @media screen and (max-width: 1199px) {
//     .header-contact-list {
//         display: block;
//     }
// }

.header-contact-list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    &:not(:first-child) {
        margin-left: 30px;
    }
}

.header-contact-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    padding: 32px 0;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--brand-color);
    }
}

.header-contact-list__icon {
    margin-right: 10px;
    background-size: contain;
    fill: var(--text-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .header-contact-list__link:hover &,
    .header-contact-list__link:focus & {
        fill: var(--brand-color);
    }
}
