.hero {
    padding: 200px 0;
    background-color: #c4c4c4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/bg.jpg);
    background-size: cover;
}
.hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-background);
    margin-bottom: 40px;
}

.hero__container {
    display: flex;
    width: 696px;
    flex-wrap: wrap;
    justify-content: center;
}
