.address__list {
    font-style: normal;
    margin-top: 20px;
}
.address__item:not(:first-child) {
    margin-top: 9px;
}
.address__link {
    line-height: 1.71;
    letter-spacing: 0.03em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--brand-color);
    }
}
.address__link_address {
    color: var(--main-background);
}
.address__link_tel_mail {
    color: rgba(255, 255, 255, 0.6);
}
