:root {
    --logo-font: 'Raleway', sans-serif;
    --main-font: 'Roboto', sans-serif;
    --brand-color: #2196f3;
    --main-color-font: #212121;
    --text-color: #757575;
    --main-background: #ffffff;
    --hero-background: #2f303a;
    --second-background: #f5f4fa;
    --main-icon-color: #afb1b8;
    --modal-btn-hov-foc: #188ce8;
}
